body {
    background-color: #eb889e;
    font-family: Arial, sans-serif;
    color: 	#fcd8c5;
    margin: 0;
    padding: 50px;
}

.centered-image {
    display: block;
    margin: 0 auto;
    max-width: 100%; 
}
p {
    text-align: center;
    font-size: medium;
    color: whitesmoke
}

footer {
    text-align: center;
}

.indented-text {
    text-align: center;
}

h1, h2 {
    text-align: center;
    color: #f3692f;
    margin: 20px 0;
    font-family: 'Ubuntu', sans-serif;
}

nav > a {
    color: lightskyblue;
}
nav {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}
img {
    width: 300px;
    height: auto; 
    border-radius: 20px; 
    border: 3px solid white; 
    box-shadow: 0 0 15px whitesmoke;
}

a#validation-button-html img,
a#validation-button-css img {
    display: inline-block;
    margin: 5px;
    max-width: 100px;
    height: auto;
    border: none;
}
li {
    font-weight: normal;
    font-size: medium;
    color: whitesmoke;
}
@media (max-width: 768px) {
    main {
        margin: 10px;
        padding: 15px;
    }

    footer nav {
        font-size: 0.9em;
    }
}