body {
    background-color: #a4c3b2;
    font-family: 'MuseoModerno';
    color: #f6fff8;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    font-family: sans-serif, Georgia, 'Times New Roman', Times, serif;
}
h2{
    text-align: center;
}
nav {
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

nav a {
    text-decoration: none; 
    color: #6b9080; 
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

nav a:hover {
    background-color: #cce3de; 
    color: white;
}

.about-container {
    display: flex;
    align-items: center; /* centers image & text vertically */
    gap: 20px; /* space between image and text */
    max-width: 800px;
    margin: 50px auto;
    font-family: Arial, sans-serif;
  }

  /* need to make a image later */
  .about-container img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* makes the image circular */
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .about-text {
    background-color: #c7cfb9;
    padding: 20px;
    border-radius: 15px; /* rounded rectangle */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    flex: 1; 
  }