<div>
    <nav>
        <a href="https://webpages.charlotte.edu/jschefer/" target="_blank">Charlotte Webpages -</a>
        <a href="https://github.com/jess11233" target="_blank">GitHub -</a>
        <a href="https://jess11233.github.io/itis3135/" target="_blank">Github.io -</a>
        <a href="https://www.freecodecamp.org/Jschefers" target="_blank">FreeCodeCamp -</a>
        <a href="https://www.codecademy.com/profiles/board6825662150" target="_blank">Codecademy -</a>
        <a href="www.linkedin.com/in/jesseschefers" target="_blank">LinkedIn -</a>
        <a href="https://jess11233.github.io/jazzyseahorse/" target="_blank">Jazzy Seahorse -</a>
        <a href="SchefersSolutions.co/index.html">Schefers Solutions -</a>
        <a href="Hobby/index.html">Midterm -</a>
        <a href="clientProject/index.html">Cole's Project</a>
        </nav>
    <p class="indented-text">Page Built By <a href="SchefersSolutions.co/index.html">  Schefers Solutions </a> &copy; 2025</p>
</div>